.product-image{
    /*max-width:400px!important;*/
    /*max-height:400px!important;*/
    /*border: 15px solid grey;*/
    /*border-radius: 30px;*/
}

.stock-image{
    width:400px!important;
    height:170px!important;
    border: 5px solid #0d4197;
    border-radius: 30px;
}
.stock-cat-delimiter{
    border:5px solid black;
}

.stock-main-block{
    background-color: #acb7c0;
}

.stock-quantity{
    max-width: 50px;
}

.stock-product-card{
    float:left;
    height: 300px;
}

.stock-cat-block{
    clear: both;
}

.card-figure{
    background-color: springgreen;
    border-radius: 20px;
}

.figure{
    padding-left: 20px;
    padding-right: 20px;
}

/*orders*/
.block{
    border:2px solid grey;
    border-radius: 10px;
    padding: 10px;
}

.admin-filter-input{
    max-width: 75px;
}