.product-image{
    /*max-width:400px!important;*/
    /*max-height:400px!important;*/
    /*border: 15px solid grey;*/
    /*border-radius: 30px;*/
}

.stock-image{
    width:400px!important;
    height:170px!important;
    border: 5px solid #0d4197;
    border-radius: 30px;
}
.stock-cat-delimiter{
    border:5px solid black;
}

.stock-main-block{
    /*background-color: #acb7c0;*/
}

.cat_border{
    border:3px solid black;
    border-radius:20px;
    padding-top:10px;
    background-color: yellow;
    text-transform: uppercase;
    margin-bottom:40px;
}

.stock-quantity{
    max-width: 50px;
}

.stock-product-card{
    float:left;
    height: 300px;
}

.stock-cat-block{
    clear: both;
}

.stock-img {
    height: 200px;
}

.card-figure{
    background-color: springgreen;
    border-radius: 20px;
}

.figure{
    padding-left: 20px;
    padding-right: 20px;
}

/*orders*/
.block{
    border:2px solid grey;
    border-radius: 10px;
    padding: 10px;
}

.admin-filter-input{
    max-width: 50px;
}

#command-modal{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    margin-top:100px;
    height: fit-content;
    padding: 30px;
    overflow: scroll;
    max-height: 500px;
    text-align: center;
}

#new_notifications{
    margin-left:auto;
    margin-right:auto;
    width:40%;
    margin-top:50px;
    height: fit-content;
    padding-left: 14px;
    overflow: scroll;
    max-height: 400px;
}

#notifications{
    height: fit-content;
}

.notification-list-group-item{
    height:100px;
}

.command_list_item{
    color: #fff;
    background-color: grey;
}
.command_list_item:hover{
    background-color: #007bff;
    cursor: pointer;
}


/*site*/

#basket{
    margin-left:auto;
    margin-right:auto;
    width:60%;
    margin-top:150px;
    height: fit-content;
    padding-left: 14px;
    /*overflow: scroll;*/
    /*max-height: 400px;*/
    background-color: #9fcdff;
    border:5px solid black;
    border-radius: 25px;
    padding-top:30px;
}

#basket-table{
    /*border:1px solid black;*/
    width:100%;
    padding:25px;
}

#basket-table tr{
    border:2px solid black;
    padding:5px;
}

#basket-table td{
    border:2px solid black;
    padding:5px;
    color:white;
    font-size:25px;
}

#basket-table th{
    border:2px solid black;
    padding:5px;
    color:white;
    font-size:25px;
}

.basket-trash{
    max-width: 20px;
    max-height: 20px;
}